<div class="about">
<h2 class="about-header">关于我们</h2>
<img class="ui image" src="/assets/images/pop-art.jpg">

<h2 class="ui header aligned center">
    波普词典
    <div class="sub header">一个开放的在线俚语词典</div>
</h2>

<p class="ui blue label">
    波普词典的来历
</p>
<br><br>

<p>没但玩...</p>
<p>妖娥子...</p>
<p>一颗赛艇!</p>
<p>李菊福...</p>

<p>有没有觉得有时候和朋友聊天时，他们时不时蹦出几个没听过的词，大家开始恍恍惚惚红红火火何厚铧大笑，于是乎，不明真相的你也开始跟着尬笑。</p>

<p>是的，波普词典要解决的就是将你的尬笑变成自信的围笑！</p>

<p class="ui blue label">
    为什么叫波普词典
</p>
<br><br>

<p>你以为你hin有文化？你知道什么叫Pop art吗？咳咳~说中文，什么叫波普文化吗？</p>
<p>根据百度百科上的波普由来的解释：波普（pop）也是“棒棒糖”（lollypop，lolly是舌头，pop是涂抹）的一个简化口语词，可追溯至十八世纪。表示可口可乐之类的“汽水”（soda pop）一词，大致也是那个时期产生的（这里的pop可能是指瓶子开启的声音）。无论如何，我们都可以看到轻松愉快的享乐和渴求欲念的转化。</p>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

<p>然并卵...</p>
<P>我告儿您，其实我们就是<strong>波士顿普通话大词典</strong>，的缩写！</P>

</div>