<div class="ui fluid card entry-card">
  <div class="content entry-main">
    <div class="right floated author meta">
      <a [routerLink]="['/profile', entry.create_user.username]"
        routerLinkActive="active">
        <img class="ui avatar image" src="/assets/images/elliot.jpg">
        <span>{{ entry.create_user.username }}</span>
      </a>
      <span class="span-dot"></span>
      <span style="font-size: 0.85em;">{{ entry.create_time | convertToDate }}</span>
    </div>
    <div class="header">
      <a [routerLink]="['/']" routerLinkActive="active">{{ entry.name }}</a>
    </div>
    <div class="description">
      <div class="entry-definition">
        <span>释义</span>
        <p>{{ entry.definition }}</p>
      </div>
      <div class="entry-example">
        <span>例句</span>
        <p>
          {{ entry.example }}
        </p>
      </div>
      <div class="entry-tags">
        <!-- <i class="tags icon"></i> -->
        <a *ngFor="let tag of entry.tags" class="ui mini blue label">
          {{ tag.name }}
        </a>
      </div>
    </div>
  </div>
  <div class="extra entry-meta">
    <div class="ui relaxed horizontal list">
      <div class="item">
        <a class="middle aligned content" (click)="onUpVote()">
          <i class="thumbs outline up icon"></i>
          {{ entry.upVotesCount }}
        </a>
        <a class="middle aligned content" (click)="onDownVote()">
          <i class="thumbs outline down icon"></i>
          {{ entry.downVotesCount }}
        </a>
      </div>
      <div class="item">
        <a class="middle aligned content" (click)="this.showComment = !this.showComment">
          <i class="comment outline icon"></i>
          {{ entry.commentCount }}
          条评论
        </a>
      </div>
      <div class="item">
        <a class="middle aligned content">
          <i class="send outline icon"></i>
          分享
        </a>
      </div>
      <div class="item">
        <a class="middle aligned content" (click)="onSaveToWordbook()">
          <i class="remove bookmark icon"></i>
          收藏
        </a>
      </div>
      <div class="item">
        <a class="middle aligned content">
          <i class="ellipsis horizontal icon"></i>
        </a>
      </div>
    </div>
  </div>
  <app-comment *ngIf="showComment" [comment_count]="entry.commentCount" [entry_id]="entry.id"></app-comment>

</div>

<div id="loginAlertModal" class="ui mini modal">
  <i class="close icon"></i>
  <div class="header">未登录</div>
  <div class="content">
    <p>这位朋友请先登录，么么哒</p>
  </div>
  <div class="actions"> 
    <div class="ui cancel button">取消</div>
    <div class="ui approve blue button">登录</div>
  </div>
</div>
