<div class="ui fluid card entry-card">
  <div class="content entry-main">
    <div class="header">
      <a href="">{{entry.name}}</a>
      <!-- TODO: changed to 'name' in v3 -->
    </div>
    <div class="meta">
      <a>{{entry.create_user.username}}</a>
      <span class="span-dot"></span>
      <span>2 days ago</span>
    </div>
    <div class="description">
      <div class="entry-definition">
        <span>释义</span>
        <p>{{entry.definition}}</p>
      </div>
      <div class="entry-example">
        <span>例句</span>
        <p>
          {{entry.example}}
        </p>
      </div>
      <div class="entry-tags">
        <!-- <i class="tags icon"></i> -->
        <a *ngFor="let tag of entry.tags" class="ui mini blue label">
          {{tag.name}}
        </a>
      </div>
    </div>
  </div>
  <div class="extra entry-meta">
    <div class="ui very relaxed horizontal list">
      <div class="item">
        <a class="middle aligned content" (click)="onUpVote()">
          <i class="thumbs outline up icon"></i>
          123
        </a>
        <a class="middle aligned content" (click)="onDownVote()">
          <i class="thumbs outline down icon"></i>
          5
        </a>
      </div>
      <div class="item">
        <a class="middle aligned content" (click)="this.showComment = !this.showComment">
          <i class="comment outline icon"></i>
          237
        </a>
      </div>
      <div class="item">
        <a class="middle aligned content">
          <i class="send outline icon"></i>
        </a>
      </div>
      <div class="item">
        <a class="middle aligned content">
          <i class="ellipsis horizontal icon"></i>
        </a>
      </div>
    </div>
  </div>
  <app-comment *ngIf="showComment" [comments]="entry.comments"></app-comment>

</div>
