.ui.card.entry-card {
  margin-bottom: 12px;
  box-shadow: 0 2px 4px 0 #e6e6e6, 0 0 0 1px #e6e6e6;
}

/* .ui.card.entry-card:hover {
  box-shadow: 0 2px 4px 0 #e0e0e0, 0 0 0 1px #e0e0e0;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transform: none;
  transform:none;
} */

.ui.card.entry-card .entry-main {
  padding: 20px 20px 16px;
}

.ui.card.entry-card .entry-author {
  margin-bottom: 15px;
}

.ui.card.entry-card .entry-author .avatar {
  font-size: 0.7em;
}
.ui.card.entry-card .entry-author > span {
 font-size: 0.85em;
}

.ui.card.entry-card .header a {
  color: inherit;
  font-size: 20px;
}

.span-dot::after {
  content: "\00B7";
  margin: 0.05em;
}

.ui.card.entry-card .content .description {
  line-height: 1.8;
  color: #424242;
}

.ui.card.entry-card .content .description span {
  color: #8590a6;
}

.entry-definition,
.entry-example,
.entry-tags {
  margin-top: 10px;
}

.ui.card.entry-card .entry-meta {
  padding: 5px 16px;
}

.ui.card.entry-card .entry-meta .item a {
  margin-right: 0.6em;
}

.entry-tags a,
.extra .item a {
  color: #8590a6 !important;
}

.extra .item a:hover {
  color: #2185D0 !important;
}
