<div class="ui tiny modal">
  <i class="close icon"></i>
  <div class="header">添加新词条</div>
  <div class="content">
    <div class="ui form">
      <div class="required field">
        <label>词条</label>
        <input type="text" placeholder="添加词条名">
      </div>
      <div class="required field">
        <label>释义</label>
        <textarea rows="4" placeholder="添加词条解释"></textarea>
      </div>
      <div class="field">
        <label>例句</label>
        <textarea rows="2" placeholder="举个栗子"></textarea>
      </div>
      <div class="field">
        <label>标签</label>
        <input type="text" placeholder="多个标签请用逗号分开">
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui button">取消</div>
    <div class="ui blue button">添加</div>
  </div>
</div>
