<div id="addEntry-modal" class="ui tiny modal">
  <div id="addEntry-form-loader" class="ui inverted dimmer">
    <div class="ui medium text loader">正在提交...</div>
  </div>
  <i class="close icon"></i>
  <div class="header">添加新词条</div>
  <div class="content">
    <form id="addEntry-form" class="ui form" [formGroup]="addEntryForm">
      <div class="required field">
        <label>词条</label>
        <input
          name="name"
          formControlName="name"
          type="text"
          placeholder="添加词条名">
      </div>
      <div class="required field">
        <label>释义</label>
        <textarea
          name="definition"
          formControlName="definition"
          rows="4"
          placeholder="添加词条解释"></textarea>
      </div>
      <div class="field">
        <label>例句</label>
        <textarea
          formControlName="example"
          rows="2"
          placeholder="举个栗子"></textarea>
      </div>
      <div class="field">
        <label>标签</label>
        <input
          formControlName="tags"
          type="text"
          placeholder="多个标签请用逗号分开">
      </div>
      <div class="ui error message"></div>
    </form>
  </div>
  <div class="actions">
    <div class="ui cancel button">取消</div>
    <div class="ui primary submit button" (click)="onSubmitEntryForm()">添加</div>
  </div>
</div>
