<footer class="footer">
  <div class="ui horizontal list">
    <a class="item" target="_blank" href="https://www.weibo.com/bopucidian">
      <i class="weibo icon"></i>
    </a>
    <a class="item" target="_blank" href="/">
      <i class="facebook f icon"></i>
    </a>
    <a class="item" target="_blank" href="/">
      <i class="twitter icon"></i>
    </a>
  </div>
  <br/>
  <div class="ui tiny horizontal divided list">
    <a class="item" routerLink="/about" routerLinkActive="active">关于我们</a>
    <a class="item" routerLink="/about/privacy" routerLinkActive="active">隐私条款</a>
    <a class="item" routerLink="/about/disclaimer" routerLinkActive="active">免责申明</a>
    <a class="item" routerLink="/about/contact" routerLinkActive="active">联系我们</a>
  </div>
  <div>
    <span>&copy; 2018 波普词典</span>
  </div>
</footer>
