<footer class="footer">
  <div class="footer-social">
    <a target="_blank" href="https://www.weibo.com/bopucidian">
      <i class="weibo icon"></i>
    </a>
    <a target="_blank" href="/">
      <i class="facebook f icon"></i>
    </a>
    <a target="_blank" href="/">
      <i class="twitter icon"></i>
    </a>
  </div>
  <nav class="footer-nav">
    <ul class="footer-nav-list">
      <li>
        <a href="/">关于我们</a>
        <span class="footer-nav-dot"></span>
      </li>
      <li>
        <a href="/">使用协议</a>
        <span class="footer-nav-dot"></span>
      </li>
      <li>
        <a href="/">免责申明</a>
      </li>
    </ul>
  </nav>
  <span>&copy; 2017 波普词典</span>
</footer>
