<footer class="footer">
  <div class="ui horizontal list">
      <a class="item" target="_blank" href="https://www.weibo.com/bopucidian">
        <i class="weibo icon"></i>
      </a>
      <a class="item" target="_blank" href="/">
        <i class="facebook f icon"></i>
      </a>
      <a class="item" target="_blank" href="/">
        <i class="twitter icon"></i>
      </a>
    </div>
    <br/>
  <div class="ui tiny horizontal divided list">
    <a class="item" href="/">关于我们</a>
    <a class="item" href="/">使用协议</a>
    <a class="item" href="/">免责申明</a>
  </div>
  <div>
    <span>&copy; 2017 波普词典</span>
  </div>
</footer>
