<div class="ui fluid card related-entries-card">
  <div class="content">
    <h4 class="ui header">相关词条</h4>
  </div>
  <div class="content related-entries-main">
    <div *ngIf="isLoading" class="ui active centered inline loader"></div>
    <div class="ui middle aligned relaxed list">
      <a *ngFor="let entry of relatedEntries"
        [routerLink]="['/entry', entry.name]"
        routerLinkActive="active"
        class="item">
        <i class="right triangle icon"></i>
        {{ entry.name }}
      </a>
    </div>
  </div>
</div>
