<div class="text">{{ pagination.currentPage }}</div>

<div class="ui medium basic icon buttons">
  <button class="ui button" (click)="clickFirstPage()"><i class="angle double left icon"></i></button>
  <button class="ui button" (click)="clickPreviousPage()"><i class="angle left icon"></i></button>
</div>

<div class="ui compact selection dropdown pagination">
  <i class="dropdown icon"></i>
  <div class="text">{{ pagination.currentPage }}</div>
  <div class="menu">
    <div class="item" *ngFor="let page of pages">{{ page }}</div>
  </div>
</div>

<div class="ui medium basic icon buttons">
  <button class="ui button" (click)="clickNextPage()"><i class="angle right icon"></i></button>
  <button class="ui button" (click)="clickLastPage()"><i class="angle double right icon"></i></button>
</div>