
<div class="ui pagination menu" *ngIf="showPaginationComponent" >
  <a class="item" (click)="clickFirstPage()" *ngIf="showFirstPage">1</a>
  <div class="disabled item" *ngIf="showFrontDots">...</div>
  
  <a class="item" (click)="clickPreviousPage()" *ngIf="showPreviousPage">{{ pagination.currentPage - 1 }}</a>
  <a class="disabled item">{{ pagination.currentPage }}</a>
  <a class="item" (click)="clickNextPage()" *ngIf="showNextPage">{{ pagination.currentPage + 1 }}</a>

  <div class="disabled item" *ngIf="showRearDots">...</div>
  <a class="item" (click)="clickLastPage()" *ngIf="showLastPage">{{ pagination.totalPages }}</a>
</div>