<div class="entry-comment">
  <div class="ui small minimal comments fluid card">
    <div class="content">
      <h4>{{ comments.length }} 条评论</h4>
    </div>
    <div class="extra content">
      <div *ngFor="let comment of comments" class="comment">
        <a class="avatar"
           [routerLink]="['/profile', comment.create_user.username]"
           routerLinkActive="active">
          <img src="/assets/images/elliot.jpg">
        </a>
        <div class="content">
          <a class="author"
             [routerLink]="['/profile', comment.create_user.username]"
             routerLinkActive="active">
            {{ comment.create_user.username }}
          </a>
          <div class="float right metadata">
            <span class="date">{{ comment.create_time | convertToDate }}</span>
          </div>
          <div class="text">
            {{ comment.content }}
          </div>
          <div class="actions">
            <a class="report">举报</a>
            <a *ngIf="comment.create_user.id == currentUserId" class="delete" (click)="onDeleteComment(comment.id, comment)">删除</a>
          </div>
        </div>
      </div>
    </div>
    <div class="extra content">
      <div class="ui large transparent fluid left icon input">
        <i class="icon write"></i>
        <input type="text" [(ngModel)]="comment" placeholder="添加评论...">
        <button type="submit" class="ui tiny primary button" (click)="onSubmitComment()">评论</button>
      </div>
    </div>
  </div>
</div>

<div id="loginAlertModal" class="ui mini modal">
  <i class="close icon"></i>
  <div class="header">未登录</div>
  <div class="content">
    <p>这位朋友请先登录再发表评论，么么哒</p>
  </div>
  <div class="actions">
    <div class="ui cancel button">取消</div>
    <div class="ui approve blue button">登录</div>
  </div>
</div>
