<div class="entry-comment">
  <div class="ui small minimal comments fluid card">
    <div class="content">
      <div class="header">{{comments.length}} 条评论</div>
    </div>
    <div class="extra content">
      <div *ngFor="let comment of comments" class="comment">
        <div class="content">
          <a class="author">{{ comment.create_user.username }}</a>
          <div class="metadata">
            <span class="date">{{ comment.create_time | convertToDate }}</span>
          </div>
          <div class="text">
            {{ comment.content }}
          </div>
          <div class="actions">
            <a class="hide">举报</a>
          </div>
        </div>
      </div>
    </div>
    <div class="extra content">
      <div class="ui large transparent fluid left icon input">
        <i class="icon write"></i>
        <input type="text" [(ngModel)]="comment" placeholder="添加评论...">
        <button type="submit" class="ui tiny primary button" (click)="onSubmitComment()">评论</button>
      </div>
    </div>
  </div>
</div>
