<br/>
<table>
  <tr>
    <td width="25"></td>
    <td>
      <img src="https://semantic-ui.com/images/avatar2/large/patrick.png" class="ui small circular image">
    </td>
    <td width="45"></td>
    <td>
      <table>
        <tr>
          <td colspan="3" class="header-title">{{ user.username }}</td>
        </tr>
        <tr>
          <td colspan="3" class="header-subtitle">{{ user.bio }}</td>
        </tr>
        <tr class="header-subtitle">
          <td>词条: {{ user.entry_count }}</td>
          <td>被赞: {{ user.be_upvoted_count }}</td>
          <td>被踩: {{ user.be_downvoted_count }}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="ui divider"></div>
<br/>