<app-profile-header></app-profile-header>

<div class="ui grid">
  <div class="four wide column main-content">
    <div class="ui segments">
      <div class="ui blue segment">
        <a class="item" routerLink="my-entries">{{ pronoun }}的词条</a>
      </div>
      <div class="ui blue segment">
        <a class="item" routerLink="my-comments">{{ pronoun }}的评论</a>
      </div>
      <div class="ui blue segment">
        <a class="item" routerLink="my-wordbooks">{{ pronoun }}的单词本</a>
      </div>
    </div>
  </div>

  <div class="twelve wide column main-content">
    <router-outlet></router-outlet>
  </div>
</div>