<div id="nav-wrapper">
  <div class="ui secondary menu container">
    <a class="nav-logo item" routerLink="/" routerLinkActive="active">
      <img src="/assets/images/nav_logo.png">
    </a>
    <a class="item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <i class="home icon"></i>
      首页
    </a>
    <a class="item" routerLink="/hot" routerLinkActive="active">
      <i class="fire icon"></i>
      热门发现
    </a>
    <a class="item" routerLink="/discovery" routerLinkActive="active">
      <i class="world icon"></i>
      随便看看
    </a>
    <div class="right menu">
      <div class="item">
        <div class="ui left icon action input search-bar">
          <i class="search icon"></i>
          <input type="text" placeholder="奇怪的词">
          <div class="ui blue submit button">搜索</div>
        </div>
      </div>
      <div class="item">
        <!-- Show this for logged out users -->
        <div class="ui text menu">
          <a class="item" routerLink="/login" routerLinkActive="active">
            登录
          </a>
          <a class="item" routerLink="/register" routerLinkActive="active">
            注册
          </a>
        </div>

        <!-- Show this for logged in users -->
        <!-- TODO -->
      </div>
    </div>
  </div>
</div>
