#nav-wrapper {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,34,77,.1);
}

#nav-wrapper .container {
    height: 56px;
    align-items: center;
    padding:0 16px;
}

#nav-wrapper a {
    color: #8590a6;
}

#nav-wrapper a:hover {
    background-color: transparent;
}

#nav-wrapper a.active {
    background-color: transparent;
    color: #212121;
}

#nav-wrapper a.nav-logo {
    padding: 0px;
}

.search-bar {
    height: 32px;
    /* width: 50%; */
    margin: 0px 25px;
}

.ui.button.add-entry-modal {
    padding: .65em 1em .65em !important;
}