<div id="nav-wrapper">
  <div class="ui secondary menu container">
    <a class="nav-logo item" routerLink="/" routerLinkActive="active">
      <img src="/assets/images/nav_logo.png">
    </a>
    <a class="item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <i class="home icon"></i>
      首页
    </a>
    <a class="item" routerLink="/hot" routerLinkActive="active">
      <i class="fire icon"></i>
      热门发现
    </a>
    <a class="item" routerLink="/discovery" routerLinkActive="active">
      <i class="world icon"></i>
      随便看看
    </a>
    <div class="right menu">
      <!-- <div class="item">
        <div class="ui left icon action input search-bar">
          <i class="search icon"></i>
          <input type="text" placeholder="奇怪的词">
          <div class="ui blue submit button">搜索</div>
        </div>
      </div> -->
      <div class="item ui search search-bar">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="奇怪的词">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
      <div class="item">
        <!-- Show this for logged out users -->
        <div *ngIf="false" class="ui text menu">
          <a class="item" routerLink="/login" routerLinkActive="active">
            登录
          </a>
          <a class="item" routerLink="/register" routerLinkActive="active">
            注册
          </a>
        </div>

        <!-- Show this for logged in users -->
        <!-- TODO -->
        <div *ngIf="true" class="ui item" (click)="showProfileDropdown()">
          <div class="ui dropdown">
            <span>{{currentUser.username}}</span>
            <i class="icon dropdown"></i>
            <div class="menu">
              <div class="item">个人主页</div>
              <div class="item">账号管理</div>
              <div class="divider"></div>
              <div class="item" (click)="logout()">退出</div>
            </div>
          </div>
        </div>
        <div class="item">
          <button class="ui blue button add-entry-modal" (click)="showAddEntryModal()">添加词条</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui tiny modal">
  <i class="close icon"></i>
  <div class="header">添加新词条</div>
  <div class="content">
    <div class="ui form">
      <div class="required field">
        <label>词条</label>
        <input type="text" placeholder="添加词条名">
      </div>
      <div class="required field">
        <label>释义</label>
        <textarea rows="4" placeholder="添加词条解释"></textarea>
      </div>
      <div class="field">
        <label>例句</label>
        <textarea rows="2" placeholder="举个栗子"></textarea>
      </div>
      <div class="field">
        <label>标签</label>
        <input type="text" placeholder="多个标签请用逗号分开">
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui button">取消</div>
    <div class="ui blue button">添加</div>
  </div>
</div>
